@media screen and (0 <= width < 400px) {
    .navbar__wrapper {
     gap: 15px;   
    }
    .link_text {
        display: none;
    }
    .call {
        display: none; 
    } 
    .chat {
        display: none;
    }
    .profile {
        display: none;
    }
    .logo::after {
        right: -1.1rem;
    }

    .title_highlight {
        margin-left: 15px;
    } 
    
    .title_highlight::before {
        left: -15px;
        
    }

    .paragraph_first {
        margin: 0 15px;
    }
    .paragraph_second {
        display: none;
    }
    .service__link-2 {
        display: none;
    }
    .service__link-3 {
        display: none;
    }
    .service__link-4 {
        display: none;
    }
    .service__link-5 {
        display: none;
    }
    .service__link-6 {
        display: none;
    }

    .service__img {
        width: 320px;
        height: auto;
    }

}

@media screen and (400px <= width < 770px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar__wrapper {
        gap: 0;

    }

    .link_text {
        display: none;
    }

    .burger {
        margin-right: 40px;
    }

    .logo::after{
        left: -20px;
    }
    .service__link-4 {
        display: none;
    }
    .service__link-5 {
        display: none;
    }
    
    .service__description {
        display: flex;
    }
    .service__description {
        margin-left: 30px;
    }
    .service__img {
        max-width: 360px;
        height: auto;
        margin: 0 30px 
    }
    .service__list {
        margin: 20px 15px;
    }
    .chat {
        position: relative;
        margin-left: 40px;
    }

    .chat::before {
        content: '';
        position: absolute;
        left: -28px;
        top: 5px;
        height: 32px;
        width: 2px;
        background-color: #EAEAEA;
        border-radius: 5px;
    }

    .title {
        margin-left: 30px;
    }
    .title::before {
        left: -30px;
        
    }

    .paragraph_first {
        margin-bottom: 20px;
    }
    .paragraph_3 {
        display: none;
    } 
}
@media screen and (770px <= width < 1120px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar__wrapper {
        gap: 0;

    }

    .burger {
        margin-right: 40px;
    }

    .logo::after{
        left: -20px;
    }

    .service__description {
        display: flex;
    }
    .service__description {
        margin-left: 30px;
    }
    .service__img {
        max-width: 530px;
        height: auto;
        margin: 0 30px 
    }
    .service__list {
        margin: 20px 15px;
    }
    .chat {
        position: relative;
        margin-left: 40px;
    }

    .chat::before {
        content: '';
        position: absolute;
        left: -28px;
        top: 5px;
        height: 32px;
        width: 2px;
        background-color: #EAEAEA;
        border-radius: 5px;
    }

    .title {
        margin-left: 30px;
    }
    .title::before {
        left: -30px;
        
    }

    .paragraph_first {
        margin-bottom: 20px;
    }
    .paragraph_3 {
        display: none;
    } 
}



/* ---- Fonts ---- */
@font-face {
    font-family: TTlakes-title;
    src: url(../fonts/TTLakes/TTLakes-Bold.ttf);
}

@font-face {
    font-family: TTlakes;
    src: url("../fonts/TTLakes/TTLakes-Regular.ttf");
}

@font-face {
    font-family: TTlakes-link;
    src: url("../fonts/TTLakes/TTLakes-Medium.ttf");
}

@font-face {
    font-family: TTlakes-article;
    src: url("../fonts/TTLakes/TTLakes-Regular.ttf");
}

/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: TTlakes;
}

a {
    text-decoration: none;
} 

li {
    list-style: none;
}

/*---- Header styles ---- */

.header {
    margin: 15px 0;
    background-color: #FFFFFF;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.navbar__wrapper {
    display: flex;
    align-items: center;
    
    
}

.navbar__menu {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    
}

.logo {
    position: relative;
}
.logo::after {
    content: '';
    position: absolute;
    top: 10px;
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    border-radius: 5px;
}

/* ---- Main styles ---- */
.main {
    padding: 15px 0;
    background-color: #F8F8F8;
}
.title {
    font-size: 28px;
    line-height: 40px;
    font-family: TTlakes-title;
    color: #1B1C21;
}
.title_highlight {
    position: relative;
}
.title_highlight::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
}
.service__contant {
    margin: 20px 0;
}
.service__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.service__link {
    font-family: TTlakes-link;
    margin: 0 0 15px 15px;
    color: #7E7E82;
}
.service__link a {
    color: #7E7E82;
}

.service__link-active {
    background-color: #FFFFFF ;
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    padding: 8px;
}

.paragraph {
    color: #1B1C21;
    font-size: 14px;
    line-height: 18px;
    /* margin: 0 15px; */
}


.arcticle {
    font-family: TTlakes-article;
    margin: 15px 0 15px 10px ;
}
.arcticle a {
    color: #1B1C21;
    font-weight: 800;
}

.icon-icon {
    font-size: 13px;
}