@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1smiam');
  src:  url('fonts/icomoon.eot?1smiam#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1smiam') format('truetype'),
    url('fonts/icomoon.woff?1smiam') format('woff'),
    url('fonts/icomoon.svg?1smiam#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
  font-size: 13px;
  content: "\e900";
  color: #41f6d7;
  margin-right: 14px;
}
